<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>販売 | FISH MARKET</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/top1.png" alt="FISH MARKET"></a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/">販売者</a></li>
                <li><a href="/supplier">購入</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero consumer">旬の魚で食卓に幸せを</div>

    <main>
        <div class="items">
            <div class="item">
                <img src="images/aji.webp" alt="sakana">
            </div>
            <div class="item">
                <img src="images/saba.jpg" alt="sakana">
            </div>
        </div>
        <form action="">
            <h3>〇購入商品チェック</h3>
            <p>
                <label><input type="checkbox" name="fish" value="1">アジ</label><br>
                <label><input type="checkbox" name="fish" value="2">サバ</label>
            </p>
            <p class="submit">
                <input type="submit" value="送信">
            </p>
        </form>
    </main>
    <footer>
        <div class="gotop"><a href="#top"><img src="images/gotop.svg" alt="gotop"></a></div>
        <p class="copyright">&copy; FISH MARKET</p>
    </footer>
</body>

</html>