<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>FISH MARKET</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/top1.png" alt="FISH MARKET"></a>
        </div>
        <nav class="nav">
            <ul>
				<li><a href="/">ホーム</a></li>
				<li><a href="/">販売者</a></li>
				<li><a href="/supplier">購入</a></li>
				<li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
		<!--Formクラス作成-->
        <form th:action="@{/result}" th:object="${contactForm}" method="post">
            <p>
                <label for="kind">お問い合わせ内容</label><br>
                <select th:field="*{kind}" id="kind">
                    <option value="FISH MARKETについて">FISH MARKETについて</option>
                    <option value="購入・販売について">購入・販売について</option>
                    <option value="その他">その他</option>
                </select>
            </p>
            <p>
                当サイトを利用したことがありますか？<br>
                <label><input type="radio" th:field="*{firstTime}" value="はい">はい</label><br>
                <label><input type="radio" th:field="*{firstTime}" value="いいえ">いいえ</label><br>
				<span th:if="${#fields.hasErrors('firstTime')}" th:errors="*{firstTime}">
            </p>
            <p>
                <label for="mail">Email</label><br>
                <input type="email" th:field="*{mail}" placeholder="XXX @ XX.XX" id="mail"><br>
				<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">
            </p>
            <p>
                <label for="subject">お問い合わせの件名</label><br>
                <input type="text" th:field="*{subject}" placeholder="タイトル" id="subject">
				<span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">
            </p>
            <p>
                <label for="message">お問い合わせの具体的な内容</label><br>
                <textarea th:field="*{message}" id="message"></textarea>
				<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}">
            </p>
            <p class="submit">
                <input type="submit" value="送信">
            </p>
        </form>
    </main>
    <footer>
        <div class="gotop"><a href="#top"><img src="images/gotop.svg" alt="gotop"></a></div>
        <p class="copyright">&copy; FISH MARKET</p>
    </footer>
</body>
</html>