<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FISH MARKET</title>
    <link rel="stylesheet" href="style.css">
    <!--
    <style>
        *{
            outline: 1px solid #FF0000;
        }
    </style>
-->
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/top1.png" alt="FISH MARKET"></a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/#supplier">販売者</a></li>
                <li><a href="/supplier">購入</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero index">たのしい、ひとときを</div>
    
    <main>
        <div class="repeat">  </div>
        <div class="items" id="supplier">
            <div class="item">
                <img src="images/minato.jpg" alt="minato">
                <span class="text">
                    名前: 湊雄輔<br>
                    年齢:　23<br>
                    紹介:　Javaプログラミングや開発について学ぶ。<br>
                    <a href="/supplier" class="btn">商品チェック</a>
                </span>
            </div>

            <div class="item">
                <img src="images/asaka.jpg" alt="asaka">
                <span class="text">
                    名前: 朝香あゆみ<br>
                    年齢:　25<br>
                    紹介:　湊の同期で一緒にJavaプログラミングや開発について学ぶ。<br>
                    <a href="/supplier" class="btn">商品チェック</a>
                </span>
            </div>

            <div class="item">
                <img src="images/megumi.jpg" alt="megumi">
                <span class="text">
                    名前: 綾部めぐみ<br>
                    年齢:　22<br>
                    紹介:　Javaの基礎はすでにマスターしており新人研修で首席<br>
                    <a href="/supplier" class="btn">商品チェック</a>
                </span>
            </div>

        </div>
        <div class="repeat">  </div>
    </main>
    <footer>
        <div class="gotop"><a href="#top"><img src="images/gotop.svg" alt="gotop"></a></div>
        <p class="copyright">&copy; FISH MARKET</p>
    </footer>
</body>

</html>